.EventDetails-Header {
  font-size: 20pt;
  background: black;
  color: white;
  margin-bottom: 30px;
  padding: 5px;
}

.EventDetails-Properties {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 20px;
}

.EventDetails-Actions {
  text-align: right
}

.EventDetails-Title {
  font-weight: bold;
}

.EventDetails-Location a, a:link, a:visited {
  color: black;
}

.EventDetails-Description {
  max-width: 80vw;
  white-space: pre-wrap;
}

.EventDetails-Tags > span {
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
}
