.Calendar {
  display: grid;
  background-color: #CCC;
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 10px;
  margin: 5px;
}

.Calendar-header {
  display: grid;
}

.Calendar-header-month {
  display: grid;
  font-size: 200%
}

.Calendar-header-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  font-size: 150%
}

.Calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  color: #444;
}

.Calendar-day {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  border-radius: 5px;
  padding: 10px;
}

.Calendar-day-is-weekend {
  background-color: #AAA;
}

.Calendar-day-is-workday {
  background-color: #888;
}

.Calendar-day-is-today {
  border-style: solid;
  border-color: orange;
  border-width: 2px;
}

.Calendar-day-column {
  color: #fff;
}

.Calendar-day-events {
}

.Calendar-day-event {
  color: black;
}