.Calendar {
  display: grid;
  background-color: var(--pane-background-color);
  border-radius: var(--pane-border-radius);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 10px;
  margin: 5px;
}

.Calendar-header {
  display: grid;
}

.Calendar-header-month {
  font-size: 200%;
  font-weight: bold;
}

.Calendar-header-weekdays {
  display: grid;
  grid-template-columns: 5fr 10fr 10fr 10fr 10fr 10fr 5fr;
  grid-gap: 20px;
  font-size: 150%;
}

.Calendar-days {
  display: grid;
  grid-template-columns: 5fr 10fr 10fr 10fr 10fr 10fr 5fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

.Calendar-day {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  border-radius: 5px;
  padding: 10px;
}

.Calendar-day-is-weekend {
  background-color: #AAA;
}

.Calendar-day-is-workday {
  background-color: #888;
}

.Calendar-day-is-today {
  border-style: solid;
  border-color: var(--today-color);
  border-width: 2px;
}

.Calendar-day-column {
  color: #fff;
  text-align: left;
  width: 20px;
}

.Calendar-day-event {
  border: 1px solid black;
  margin: 1px;
  text-align: left;
  border-radius: 2px;
  background-color: black;
  color: white;
}

.Calendar-day-event-from {
  padding-right: 5px;
}

.Calendar-day-event-title {
  font-weight: bold;
}