.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  border: 25px solid white;
  box-sizing: border-box;
}

.Content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  height: 100%;
}

.Upcoming {
  background-color: red;
}

.Calendars {
  display: grid;
}