@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

:root {
  --pane-background-color: #CCC;
  --pane-border-radius: 5px;
  --today-color: orange;
}

.Root {
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
}
